
@media print {
	.screen {
		display: none;
	}

	main > ul {
		border: 1px solid black;
		border-radius: 1em;
		list-style: none;
		margin: 4em 0 4em 0;
		padding: 1em;
		width: 30%;
	}

	fieldset,
	legend {
		background: white;
		border: 1px solid black;
		border-radius: 0.5em;
	}

	fieldset {
		margin: 0 0 1em 0;
		padding: 1em;
	}

	legend {
		margin: 0 0 0 1em;
		padding: 0.5em 1em;
	}

	fieldset ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	fieldset ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul label {
		display: inline-block;
	}

	#person label {
		width: 8em;
	}

	label:first-child::after {
		content: ":";
	}

	#certified {
		vertical-align: middle;
	}

	input:not([type="checkbox"]) {
		border: none;
		font-weight: bold;
	}

	[type="checkbox"] + label::before {
		content: " - ";
	}

	[type="checkbox"] {
		display: none;
	}

	[type="checkbox"]:not(:checked) + label {
		display: none;
	}

	#place + span {
		content: "";
		display: block;
	}

	select {
		border: none;
		font-size: 100%;
		font-weight: bold;
	}

	#signature {
		padding-top: 5em;
		text-align: right;
		width: 100%;
	}

	#signature span {
		border-bottom: 1px solid black;
		display: inline-block;
		margin-bottom: 1.5em;
		position: relative;
		text-align: left;
		width: 40%;
	}

	#signature span:first-child {
		float: left;
		width: 40%;
	}

	#signature span::after {
		bottom: -1.5em;
		content: attr(data-title);
		left: 1em;
		padding-left: 1em;
		position: absolute;
		width: 100;
	}
}

@media screen {

	.print {
		display: none;
	}

	main > p:first-child {
		background: white;
		border-radius: 0.5em;
		margin: 0;
		padding: 1em;
	}

	main > p:first-child em {
		color: red;
		display: block;
		margin-bottom: 1em;
		text-align: center;
	}

	form {
		border: 1px dotted white;
		margin: 1em 0;
		padding: 1em;
	}

	fieldset,
	legend {
		background: white;
		border: 1px solid black;
		border-radius: 0.5em;
	}

	fieldset {
		margin: 0 0 1em 0;
		padding: 1em;
	}

	legend {
		margin: 0 0 0 1em;
		padding: 0.5em 1em;
	}

	fieldset ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	#person label:first-child {
		display: inline-block;
		width: 8em;
	}

	label[for="zip"] {
		text-align: right;
		width: 3em;
	}

	#zip {
		width: 3em;
	}
}
