/*
@import url("https://template.pc-cdn.de/content/themes/writr/css/red.css");
@import url("https://template.pc-cdn.de/assets/css/minimal-dark-mode-toggle/style.css");
*/

#page.dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 /*color: #ffffff !important;*/
}
#page.light-mode {
 /*
 //background-color: #ffffff !important;
 //background: #ffffff !important;
 //color: #303030 !important;
 */
} 

body.dark-mode button { background-color: #eee; color: #111; }
body.light-mode button { background-color: #111; color: #eee; }

.dark-mode button { background-color: #eee; color: #111; }
.light-mode button { background-color: #111; color: #eee; }

.dark_light_button.dark-mode { 
 background-color: #303030 !important; 
 background: #303030 !important; 
 color: #ffffff !important;
}
.dark_light_button.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}
/* genereller Haupttext */
.content-area.dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 color: #ffffff !important;
 min-height: 100vh;
 /*margin: -40px 0 0 0;
 padding-top: 40px;*/
}
.content-area.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}
/* Überschrift der Content-Area */
.entry-title.dark-mode {
 background-color: #262626 !important;
 background: #262626 !important;
 color: #e7e7e7 !important;
}
.entry-title.light-mode {
 background-color: #d9d9d9 !important;
 background: #d9d9d9 !important;
 color: #262626 !important;
}


/* Überschrift ISE Einträge */
.ise-entry-title:after { 
	content: ''; 
	z-index: 2;
 	display: block; 
	position: absolute; 
	top: 25px;
 	left: -5px;
 	border-right: 5px solid #f5f5f5; 
	border-top: 5px solid transparent; 
	border-bottom: 5px solid transparent;
 }
.ise-entry-title.dark-mode{
 background: #262626 !important;
 color: #4f4f4f !important;

 position: relative; 
	padding: 15px 40px;
 	margin: 0 0 0 -40px;
 	width: 100%; 	
 	font-weight: bold;
}
.ise-entry-title.light-mode {
 background: #f5f5f5;
 color: #303030;
 position: relative; 
 padding: 15px 40px;
 margin: 0 0 0 -40px;
 width: 100%; 	
 font-weight: bold;
}




/* Überschriften */
.dark-mode h1 { color:#4f4f4f !important; }
.dark-mode h2 { color:#4f4f4f !important; }
.dark-mode h3 { color:#4f4f4f !important; }
.dark-mode h4 { color:#4f4f4f !important; }
.dark-mode h5 { color:#4f4f4f !important; }
.dark-mode h6 { color:#4f4f4f !important; }

/* Text als Code anzeigen (eher nicht verwendet aber besser haben als brauchen) */
.dark-mode code{
 background-color: #4f4f4f !important; 
 background: #4f4f4f !important;
 color: #303030;
}

/* Tabellen (ISE) */
.content-area.dark-mode tr {}
.content-area.dark-mode th {background-color: #101010 !important; color: #ececec !important;}
.content-area.dark-mode td {background-color: #1d1d1d; color: #efefef;}

/* Sub-Titelleiste der Website */
.dark-mode .site-description { color:#7d7d7d !important; }

/* links im Haupttext, nur wenn Farbe = dlt */
#body.color-scheme-dlt .dark-mode .content-area a { color:#aaaaaa !important; } 
