//@import url("https://template.pc-cdn.de/assets/css/minimal-dark-mode-toggle/style.css");


:root{
--dark-color: #303030 !important;
--dark-bg-color: #222222 !important;
--light-color: #ffffff !important;
--dark-grey: #585e6e !important;
}


/*
var(--dark-color)
var(--dark-bg-color)
var(--light-color)
var(--dark-grey)
*/

/* .dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 color: #ffffff !important;
}
.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
} */

.dark_light_button.dark-mode { 
 background-color: #303030 !important; 
 background: #303030 !important; 
 color: #ffffff !important;
}
.dark_light_button.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}

.content-area.dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 color: #ffffff !important;
}
.content-area.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}

#entry-title.dark-mode {
 background-color: #585e6e !important;
 background: #585e6e !important;
 color: #222222 !important;
}
#entry-title.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}

.dark-mode h1 { color:#585e6e !important; }
.dark-mode h2 { color:#585e6e !important; }
.dark-mode h3 { color:#585e6e !important; }
.dark-mode h4 { color:#585e6e !important; }
.dark-mode h5 { color:#585e6e !important; }
.dark-mode h6 { color:#585e6e !important; }





