#post-2.dark-mode {
  background-color: #111 !important;
  color: #fff !important;
}
#post-2.dark-mode a {
  color: #ddd !important; //111
}
.dark-mode button {
  background-color: #eee !important;
  color: #fff !important;
}
.dark-mode blockquote {
  background-color: #ddd !important;
  color: #000 !important;
}
.dark-mode h1 {
  color: #efefef !important;
}.dark-mode h2 {
  color: #efefef !important;
}.dark-mode h3 {
  color: #efefef !important;
}.dark-mode h4 {
  color: #efefef !important;
}.dark-mode h5 {
  color: #efefef !important;
}.dark-mode h6 {
  color: #efefef !important;
}

#post-2.light-mode {
  //background-color: #eee !important;
  //color: #111 !important; 
}
#post-2.light-mode a {
  //color: #111 !important;
}
.light-mode button {
  background-color: #111 !important;
  color: #eee !important;
}




