@import url("https://template.pc-cdn.de/assets/css/minimal-dark-mode-toggle/style.css");

#btn-toggle { padding: 7px 2px 2px 2px; background-color: #727272; background: #727272; border-radius: 3px}

#btn-collapse { padding: 7px 2px 2px 2px; background-color: #626262; background: #626262; border-radius: 3px}


