//@import url("https://template.pc-cdn.de/assets/css/minimal-dark-mode-toggle/style.css");


#body.dark-mode {
 background-color: #303030 !important
	background: #303030 !important;
	color: #0000ff !important;
}
#body.dark-mode button { 
background-color: #eee; 
color: #111;
}
#body.content-area.dark-mode {
background-color: #303030 !important;
	background: #303030 !important;
	color: #0f0f0f !important;
}
.content-area.dark-mode {
 background-color: #303030 !important;
	background: #303030 !important;
	color: #ffffff !important;
}

#body.light-mode {
	background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}
#body.light-mode button {
 background-color: #111;
 color: #eee;
}
#body.content-area.light-mode {
background-color: #ffffff !important;
	background: #ffffff !important;
	color: #303030 !important;
}
.content-area.light-mode {
 background-color: #ffffff !important;
	background: #ffffff !important;
	color: #303030 !important;
}
