//@import url("https://template.pc-cdn.de/content/themes/writr/css/red.css");

//@import url("https://template.pc-cdn.de/assets/css/minimal-dark-mode-toggle/style.css");

#page.dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 //color: #ffffff !important;
}
#page.light-mode {
 //background-color: #ffffff !important;
 //background: #ffffff !important;
 //color: #303030 !important;
} 

body.dark-mode button { background-color: #eee; color: #111; }
body.light-mode button { background-color: #111; color: #eee; }

.dark-mode button { background-color: #eee; color: #111; }
.light-mode button { background-color: #111; color: #eee; }

.dark_light_button.dark-mode { 
 background-color: #303030 !important; 
 background: #303030 !important; 
 color: #ffffff !important;
}
.dark_light_button.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}

.content-area.dark-mode {
 background-color: #303030 !important;
 background: #303030 !important;
 color: #ffffff !important;
}
.content-area.light-mode {
 background-color: #ffffff !important;
 background: #ffffff !important;
 color: #303030 !important;
}

.entry-title.dark-mode {
 background-color: #262626 !important;
 background: #262626 !important;
 color: #e7e7e7 !important;
}
.entry-title.light-mode {
 background-color: #d9d9d9 !important;
 background: #d9d9d9 !important;
 color: #262626 !important;
}

.dark-mode h1 { color:#4f4f4f !important; }
.dark-mode h2 { color:#4f4f4f !important; }
.dark-mode h3 { color:#4f4f4f !important; }
.dark-mode h4 { color:#4f4f4f !important; }
.dark-mode h5 { color:#4f4f4f !important; }
.dark-mode h6 { color:#4f4f4f !important; }

.dark-mode code{
 background-color: #4f4f4f !important; 
 background: #4f4f4f !important;
 color: #303030;
}

.dark-mode .site-description h2 { color:#7d7d7d !important; }





